body{
  font-family: 'Lato', sans-serif;
  color: #747704
  font-weight: 300;
}
.text-thin{
  font-weight: 100;
}
.text-muted{
  color: #BCBBBB;
}
.text-super{
  font-size: 60px;
}
.main-logo{
  margin-top: 20px;
}
